nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: #da582f;
}

body{
    background-color: beige;
}

ul, li{
    display: inline-block;
}

a{
    color: whitesmoke;
    text-decoration: none;
}
.logotipo{
    width: 96px;
    height: 96px;
}
